In [5]:
import logging
logging.basicConfig(filename="22AprInfo.log", level=logging.INFO, format="%(asctime)s %(name)s %(message)s")

In [6]:
# answer 1
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Load the iris dataset
iris = load_iris()

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.3)

# Create a KNN classifier object with k=3
knn = KNeighborsClassifier(n_neighbors=3)

# Train the model using the training sets
knn.fit(X_train, y_train)

# Predict the response for test dataset
y_pred = knn.predict(X_test)

# Calculate the accuracy score
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy:", accuracy)

Accuracy: 0.9555555555555556

In [7]:
# answer 2
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

# Load the dataset using pandas
boston = pd.read_csv('Boston.csv')

# Split the dataset into features (X) and target variable (y)
X = boston.drop('medv', axis=1)
y = boston['medv']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Create the KNN regressor with k=5
knn = KNeighborsRegressor(n_neighbors=5)

# Train the KNN regressor on the training data
knn.fit(X_train, y_train)

# Use the trained KNN regressor to predict the test data
y_pred = knn.predict(X_test)

# Calculate the mean squared error of the regressor
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 38.657439215686274

In [8]:
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
# answer 3
from sklearn.datasets import load_iris
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

# Load the iris dataset
iris = load_iris()

# Create a list of possible K values
k_values = list(range(1, 31))

# Create an empty list to store the mean accuracy for each K value
mean_accuracy = []

# Perform 10-fold cross-validation for each K value
for k in k_values:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, iris.data, iris.target, cv=10)
    mean_accuracy.append(np.mean(scores))

# Find the optimal value of K
optimal_k = k_values[mean_accuracy.index(max(mean_accuracy))]

print("Optimal value of K:", optimal_k)

Optimal value of K: 13

In [10]:
# answer 4
# from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

# Load the boston dataset
boston = pd.read_csv('Boston.csv')

# Split the dataset into features (X) and target variable (y)
X = boston.drop('medv', axis=1)
y = boston['medv']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Scale the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a KNN regressor object with k=3
knn = KNeighborsRegressor(n_neighbors=3)

# Train the model using the scaled training sets
knn.fit(X_train_scaled, y_train)

# Predict the response for the scaled test dataset
y_pred = knn.predict(X_test_scaled)

# Calculate the mean squared error for the scaled test dataset
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error:", mse)

Mean Squared Error: 16.159225146198832

In [11]:
# answer 5
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Load the iris dataset
iris = load_iris()

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.3)

# Create a KNN classifier object with k=3 and weighted voting
knn = KNeighborsClassifier(n_neighbors=3, weights='distance')

# Train the model using the training sets
knn.fit(X_train, y_train)

# Predict the response for test dataset
y_pred = knn.predict(X_test)

# Calculate the accuracy score
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy Score:", accuracy)

Accuracy Score: 0.9555555555555556

In [12]:
# answer 6
from sklearn.preprocessing import StandardScaler

def knn_classifier_with_scaling(X_train, X_test, y_train, y_test, k):
    # Standardize the features using StandardScaler
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    # Create a KNN classifier object with the specified value of k
    knn = KNeighborsClassifier(n_neighbors=k)
    
    # Train the model using the scaled training sets
    knn.fit(X_train_scaled, y_train)
    
    # Predict the response for the scaled test dataset
    y_pred = knn.predict(X_test_scaled)
    
    # Calculate the accuracy score
    accuracy = accuracy_score(y_test, y_pred)
    
    return accuracy

In [18]:
# answer 7
import math

def euclidean_distance(point1, point2):
    # Calculate the Euclidean distance between two points
    distance = math.sqrt(sum([(a - b) ** 2 for a, b in zip(point1, point2)]))
    
    return distance

# Load the iris dataset
iris = load_iris()

# Select two random data points from the dataset
x1 = iris.data[0]
x2 = iris.data[1]

# Calculate the Euclidean distance between the two points
distance = euclidean_distance(x1, x2)

# Print the result
print("Euclidean distance between x1 and x2:", distance)

Euclidean distance between x1 and x2: 0.5385164807134502

In [19]:
# answer 8
def manhattan_distance(point1, point2):
    # Calculate the Manhattan distance between two points
    distance = sum([abs(a - b) for a, b in zip(point1, point2)])
    
    return distance

# Load the iris dataset
iris = load_iris()

# Select two random data points from the dataset
x1 = iris.data[0]
x2 = iris.data[1]

# Calculate the Euclidean distance between the two points
distance = euclidean_distance(x1, x2)

# Print the result
print("Mhattan distance between x1 and x2:", distance)

Mhattan distance between x1 and x2: 0.5385164807134502